{% extends "templates/base.html" %}
{% set active_page = "matzah" %}

{% block title %}
    MATZAH
{% endblock %}

{% block header %}
   <div class="container"> 
    <h1>Matzah</h1>
  </div>
{% endblock %}

{% block content %}
        

   <div class="container">  
   	<p>
        Matzah is a key part of the Passover tradition. It's basically flat bread. When the Jews were fleeing Egypt they didn't have time to let the bread rise, so the bread was flat. It's kind of like a cracker. During Passover, which lasts about a week, you aren't supposed to eat leavened bread and instead eat Matzah.

    </p>

    <p><strong>Fun fact:</strong><i> Matzah can also be prounounced matzo or matza. The plural is matzot, matzos, and matzus.</i>
    </p>

   

	


	</div>
{% endblock %}