{% extends "templates/base.html" %}
{% set active_page = "passover" %}

{% block title %}
    PASSOVER
{% endblock %}

{% block header %}
    <div class="container"> 
    <h1>Passover</h1>
  </div>
{% endblock %}

{% block content %}
   
<div class="container"> 
    <p>
       Passover is a great celebration that happens every year. Familys around the world gather around to eat together and tell the story of the ancient Jews of Egypt who freed themselves from slavery. 
    </p>
     </div>

<div class="container">
	<h3>The Plagues</h3>
	<p>The story goes that after the Pharaoh of Egypt refused to free the Jews from slavery, God inflicted 10 plagues on Egypt. The last plague was the worst. It was the death of all Egyptian first born kids.
	</p>
	<p>Here are some images of the first nine plagues. Can you guess which each is? Click on any of them to see which plague it is.</p>
	<div class="gallery">
		<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague1.png" data-title="Blood" data-lightbox="plague">
					<img src="static/img/plague1.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague2.png" data-title="Frogs" data-lightbox="plague">
					<img src="static/img/plague2.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague3.png" data-title="Bugs" data-lightbox="plague">
					<img src="static/img/plague3.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague4.png" data-title="Wild Animals" data-lightbox="plague">
					<img src="static/img/plague4.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div> 
				<!-- row 1 ends -->
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague5.png" data-title="Pestilence" data-lightbox="plague">
					<img src="static/img/plague5.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague6.png" data-title="Boils" data-lightbox="plague">
					<img src="static/img/plague6.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague7.png" data-title="Hail" data-lightbox="plague">
					<img src="static/img/plague7.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague8.png" data-title="Locus" data-lightbox="plague">
					<img src="static/img/plague8.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div>
				<!-- row 2 ends -->
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/plague9.png" data-title="Darkness" data-lightbox="plague">
					<img src="static/img/plague9.png" alt="plague" width="200" class="img-thumbnail">
						</a>
				</div>
				<!-- <div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/matzah.jpg" data-title="my first caption" data-lightbox="plague">
					<img src="static/img/plague10.jpg" width="200px" class="img-thumbnail">
						</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/matzah.jpg" data-title="my first caption" data-lightbox="plague">
					<img src="static/img/plague11.jpg" width="200px" class="img-thumbnail">
						</a>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
				<a href="static/img/matzah.jpg" data-title="my first caption" data-lightbox="plague">
					<img src="static/img/matzah.jpg" width="200px" class="img-thumbnail">
						</a>
				</div> -->
				<!-- row 3 ends -->
			</div>
		</div>
	</div>
{% endblock %}