{% extends "templates/base.html" %}
{% set active_page = "seder" %}

{% block title %}
    SEDER
{% endblock %}

{% block header %}
    <div class="container"> 
    <h1>Seder</h1>
  </div>
{% endblock %}

{% block content %}
    <div class="container"> 
    <p>
        During Passover you go to Seders. The Seder is a gathering of friends and family around eating the traditional Passover food and also singing and saying prayers.
    </p>

<p>The seder also is when you retell the story of Passover.</p>

 <p><strong>Fun fact:</strong><i>Throughout the Seder you get to drink four glasses of wine. Woot!</i>
    </p>

    <div class="col-sm-3">
         <a class="thumbnail">
          <img src="static/img/wine.jpg" alt="wine">
        </a></div>
  </div>

{% endblock %}